{% extends 'base.html.twig' %}

{% block title %}
  Account Deletion
{% endblock %}

{% block stylesheets %}
<style type="text/css">
.break-long-words
{
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.active a {
    color: #FFF;
}
</style>
{% endblock %}

{% block navbar %}
<li><a href="/">Todo list</a></li>
<li><a href="/create">Create new</a></li>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h2>Delete account</h2>
        </div>
      <ul class="list-group">
          <li class="list-group-item clearfix">
              <p>Enter your username in the field below and press the delete button.</p>
              <form name="form" method="post">
                  <div class="form-group">
                      {{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Enter your username'}}) }}
                  </div>
                  {{ form_rest(form) }}
                  <div class="form-group">
                      <input type="submit" value="DELETE ACCOUNT" class="btn btn-danger pull-right" />
                  </div>
              </form>
          </li>
      </ul>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
